.Search .padding {
  padding: 10px;
  font-size: 22px;
}

.Search .margin {
  margin-right: 5px;
}

body {
  background-color: whitesmoke;
  margin: 30px auto;
  max-width: 600px;
}

.App .weather-container {
  padding: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px rgb(0 0 0 / 10%);
}

.setBody h2 {
  font-size: 51px;
  font-weight: 500;
}

.setBody h6,
h5 {
  font-weight: 400;
}

.setBody h5 {
  font-style: italic;
  text-transform: capitalize;
}

.setBody h1 .city-temperature {
  font-weight: 100;
  font-size: 120px;
}

.setBody h1 .degree {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  bottom: 70px;
}

.setBody ul {
  list-style: none;
  padding: 0;
}

.setBody img {
  width: 50%;
}
